@model IEnumerable<LabluzPro.Domain.Entities.Documento>

@{
    ViewData["Title"] = "Index";
}

<div class="right_col" role="main">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <a asp-action="Create">Novo Documento</a></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.sNome)</th>
                            <th>@Html.DisplayNameFor(model => model.sNumero)</th>
                            <th>@Html.DisplayNameFor(model => model.IdTipo)</th>
                            <th>@Html.DisplayNameFor(model => model.dVencimento)</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.sNome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sNumero)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo.sNome)
                            </td>
                            <td>
                                @Html.ValueFor(modelItem => item.dVencimento, "{0:dd/MM/yyyy}")
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "Documento" , new { id = item.ID })"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a> |
                                <a href="@Url.Action("Delete", "Documento" , new { id = item.ID })"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

