@model LabluzPro.Domain.Entities.Contrato


@{
    ViewData["Title"] = "Novo Contrato";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Novo Contrato</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />

                        <form enctype="multipart/form-data" asp-action="Create" class="form-horizontal form-label-left" data-toggle="validator">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                            <div class="form-group">
                                <label asp-for="sNome" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <input asp-for="sNome" class="form-control col-md-7 col-xs-12" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="sNumero" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <input asp-for="sNumero" class="form-control col-md-7 col-xs-12" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="dVencimento" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <input asp-for="dVencimento" class="form-control col-md-7 col-xs-12" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="IdTipo" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <select asp-for="IdTipo" onchange="HabilitaDiv();"
                                            class="form-control" asp-items="@(new SelectList(@ViewBag.ListaTipo,"ID", "sNome"))" required>
                                        <option value="">Selecione o tipo</option>
                                    </select>
                                </div>
                            </div>

                            <div id="divSevico">
                                <div class="form-group">
                                    <label asp-for="IdTipoServico" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <select asp-for="IdTipoServico"
                                                class="form-control" asp-items="@(new SelectList(@ViewBag.ListaTipoServico,"ID", "sNome"))">
                                            <option value="">Selecione o tipo de Serviço</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="divEquipamento">
                                <div class="form-group">
                                    <label asp-for="IdTipoEquipamento" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <select asp-for="IdTipoEquipamento"
                                                class="form-control" asp-items="@(new SelectList(@ViewBag.ListaTipoEquipamento,"ID", "sNome"))">
                                            <option value="">Selecione o tipo equipamentos</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="sImagem" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <input asp-for="sImagem" type="file" class="form-control col-md-7 col-xs-12" />
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Contrato")'">Voltar</button>
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(function () {
            document.getElementById('divSevico').style.display = 'none';
            document.getElementById('divEquipamento').style.display = 'none';
        });

        function HabilitaDiv() {
            var IdTipo = document.getElementById('IdTipo').value;

            if (IdTipo != "") {
                if (IdTipo == "7") {
                    document.getElementById('divSevico').style.display = 'block';
                    document.getElementById('divEquipamento').style.display = 'none';
                }
                if (IdTipo == "6") {
                    document.getElementById('divEquipamento').style.display = 'block';
                    document.getElementById('divSevico').style.display = 'none';
                }
                if (IdTipo == "5") {
                    document.getElementById('divSevico').style.display = 'none';
                    document.getElementById('divEquipamento').style.display = 'none';
                }
            }
            else {
                document.getElementById('divSevico').style.display = 'none';
                document.getElementById('divEquipamento').style.display = 'none';
            }
        }

    </script>
}

