@model LabluzPro.Domain.Entities.Contrato


@{
    ViewData["Title"] = "Novo Contrato";
}

<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Novo Contrato</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />

                        <form enctype="multipart/form-data" asp-action="Create" class="form-horizontal form-label-left">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                            <div class="form-group">
                                <label asp-for="sNome" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <input asp-for="sNome" class="form-control col-md-7 col-xs-12" />
                                </div>
                                <span asp-validation-for="sNome" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="sNumero" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <input asp-for="sNumero" class="form-control col-md-7 col-xs-12" />
                                </div>
                                <span asp-validation-for="sNumero" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="dVencimento" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <input asp-for="dVencimento" class="form-control col-md-7 col-xs-12" />
                                </div>
                                <span asp-validation-for="dVencimento" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="IdTipo" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <select asp-for="IdTipo"
                                            class="form-control" asp-items="@(new SelectList(@ViewBag.ListaTipo,"ID", "sNome"))">
                                        <option value="">Selecione o tipo</option>
                                    </select>
                                </div>

                                <span asp-validation-for="IdTipo" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="IdTipo" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <select asp-for="IdTipo"
                                            class="form-control" asp-items="@(new SelectList(@ViewBag.ListaTipo,"ID", "sNome"))">
                                        <option value="">Selecione o tipo de Serviço</option>
                                    </select>
                                </div>

                                <span asp-validation-for="IdTipo" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="IdTipo" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <select asp-for="IdTipo"
                                            class="form-control" asp-items="@(new SelectList(@ViewBag.ListaTipo,"ID", "sNome"))">
                                        <option value="">Selecione o tipo equipamentos</option>
                                    </select>
                                </div>

                                <span asp-validation-for="IdTipo" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="sImagem" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                                <div class="col-md-5 col-sm-6 col-xs-12">
                                    <input asp-for="sImagem" type="file" class="form-control col-md-7 col-xs-12" />
                                </div>

                                <span asp-validation-for="sImagem" class="text-danger"></span>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index", "Contrato")'">Voltar</button>
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
